/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

button {
    color: #a855f7 !important;
}

button:hover {
    background-color: #a955f714 !important;
}

button[mat-flat-button] {
    background-color: #a855f7 !important;
    color: white !important;
}